spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: false
        format_sql: true
  datasource:
    initialization-mode: always
    url: 'jdbc:mysql://localhost:3306/08-spring-mvc?useSSL=false'
    username: 'root'
    password: ''
